@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    background-color: #ebedf0;
}
.container{
    height: 100px;
    width: auto;
    background-color: #2D2D38;
    position: relative;
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    padding-top:12px;
    position: relative;
}
.navbar-img{
    width: 160px;
    height: 50px;
}
#searchBar{
    width: 450px;
    height: 35px;
    border-radius: 5px 0 0 5px;
    border: none;
    outline:none;
    color: rgb(167, 167, 167);
    padding-left: 20px;
    
   
}
.imgShip{
    height: 12px;
    width: 20px;
    
}
.ship p{
    color: #FFFFFF99;
}
.hello p{
    color: #FFFFFF99;
}
 .cart{
     cursor: pointer;
 } 
.hello{
   
    width: 80px;
}
.ship span{
    color: white;
    
}

.hello span{
   
    color: white;
    cursor: pointer;
}
p,span{
    font-size: 13px;
}



.form{
    display: flex;
    justify-content: space-between;
}
.form > div{
    
    height: 35px;
    width: 40px;
    background-color: #ff6e26;
    border-radius: 0 5px 5px 0;
    
}
.form > div > img{
    cursor: pointer;
    margin: 5px 0  0 5px;
    color: white;
}
.home{
    display: flex;
}
.number{
    background-color: #ff6e26;
    height: 20px;
    width: 20px;
    border-radius: 15px 15px 15px 15px;
    position: absolute;
    right: 25px;
    
}
.number > h1{
    color: white;
    font-size: 15px;
    text-align: center;
    /* margin-top: -2px; */
    
}
a{
    text-decoration: none;
    color: white;
}
.collection_box{
    display: flex;
    width: 18%;
    height: 25%;
    justify-content: space-between;
    background-color: #333;
    position: absolute;
    bottom: 0;
    transition: 0.3s;
    border-radius: 5px 5px 0 0;
    
}
.collection_box > span{
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    color: white;
    position: absolute;
    left:40px;
    top: 3px;
    
} 
.collection_box >img:nth-child(1){
    margin-left: 10px;
}
.collection_box >span+img{
    margin-right: 10px;
}
.collection_box:hover span{
    color: #ff6e26;
}
.collection_box:hover img:nth-child(1){
    background-image: url("Images Index/menu-line-orange.svg");
    background-size: cover;
    
    

}
.collection_box:hover span+img{
    background-image: url("Images Index/arrow-right-orange.svg");
    background-size: cover;
}
.collection_box:hover{
    background-color: white;
    cursor: pointer;

}
.collection>div:nth-child(2){

    width: auto;
    position: absolute;
    bottom: 5px;
    
    margin-left:240px;
    
}
.collection>div:nth-child(2)> span{
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    margin-right: 30px;
    letter-spacing: 2px;
    cursor: pointer;
}
.collection>div:nth-child(2)> span:hover{
    color: #ff6e26;
}
.form{
    position: relative;

}
.part2{
    height: 85vh;
    width: 100%;
    background-color: #ebedf0;
    display: flex;
    padding-bottom: 15px;
}
.names{
    background-color: #ffffff;
    width: 20%;
    /* border: 1px solid red; */
   
}
.names > p{
    margin: 20px;
}
.pictures{
    width: 60%;
    padding: 15px;
    height: auto;
}



/* .carousel-container{
    overflow: hidden;
} */
.slide-image{
    height:280px;
    background-image: url("https://imgaz.staticbg.com/banggood/os/202204/20220430010554_721.jpg");
    border-radius: 5px;
    background-size: cover;
    
    animation: slider 20s 10s infinite normal;
}

@keyframes slider{
    0%{ background-image: url("https://imgaz.staticbg.com/banggood/os/202204/20220430010554_721.jpg");}
    20%{background-image: url("https://imgaz.staticbg.com/banggood/os/202204/20220429215316_864.jpg.webp");}
    40%{background-image: url("https://imgaz.staticbg.com/banggood/os/202204/20220430010141_211.jpg.webp");}
    60%{background-image: url("https://imgaz.staticbg.com/banggood/os/202204/20220429040023_845.jpg.webp");}
    75%{background-image: url("https://imgaz.staticbg.com/banggood/os/202204/20220427013917_455.jpg.webp");}
}
.login{
    width: 20%;
    background-color: white;
    border-radius: 5px;
    margin-top: 15px;
    position: relative;
    /* border: 1px solid red; */
}
.login>.imageBottom{
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
}
.login >.see{
     position: absolute;
     right: 10px;
     bottom: 10px;
}
.login >.see:hover{
    color: #ff6e26;
    cursor: pointer;
}
.imageTop{
    height: 80px;
    width: 100%;
}
.login>.imageTop{
    transform: rotate(180deg);
   
}
.login>.imageBottom+div{
    height: 50px;
    width: auto;
    /* border: 1px solid red; */
   border-radius: 100%;
   background-color: white;
  
   position: absolute;
   top: 30px;
   left: 100px;

}
.login>.imageBottom+div>img{
    height: 50px;
    border-radius: 100%;
}
.login>.imageBottom+div+h1{
    font-size: 14px;
    text-align: center;
    padding-top: 10px;
    
}
.login>.btn{
    margin: 40px 15px;
    display: flex;
    justify-content: space-between;
}
.login>.btn>#btnJoin{
    color: white;
    font-size: 13px;
    font-weight: 700;
    padding: 10px;
    background-color: #ff6e26;
    border: none;
    border-radius: 20px;
    width: 100px;
    cursor: pointer;
}
.login>.btn>#btnSign{
    color: black;
    font-size: 13px;
    font-weight: 700;
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100px;
    border:1px solid #ebedf0 ;
}
.service>div{
    display: flex;
    margin-left: 15px;
}
.service>div>img{
   height: 20px;
   width: 20px;
}
.service>h1{
    font-size: 14px;
    margin-left: 15px;
    margin-bottom: 15px;
}
.login>hr{
    margin: 30px 15px;
    border :.5px solid  #ebedf0;
}
.service>div{
    margin: 15px 0 15px 15px;
}
.service>div>p{
    margin-left: 10px;
}
.pictures>.make_picture{
    height:150px;
    background-color: #ff6e26;
    width: 100%;
    /* border:1px solid red; */
    margin-top: 15px;
}
.make_picture{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
}

.box>div>img{
    height: 100px;
    border-radius: 2px;
}

.make_picture>div:nth-child(2){
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    
}
.box{
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
}
.box>p{
    color: #f54323;
    font-weight: 700;
    text-align: center;
}
.make_picture>div:nth-child(1)>h1{
    color: white;
    font-size: 18px;
}
.make_picture>div:nth-child(1)>p{
    color: white;
    margin: 10px 0;
}
.orange_box>h1{
    font-size: 18px;
    color: #f54323;
    font-weight: 700;
}
.orange_box>p{
    font-size: 18px;
    color: #f54323;
   
}
.orange_box{
    background-color: #fff1db;
    padding: 10px;
}
.part2>.names>p{
    cursor: pointer;
}
.randomImage{
    background-color: #ebedf0;
}
.contain{
    display: grid;
    /* width: 100%; */
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: auto;
    gap:20px;
    margin-left: 20px;
    margin-right: 20px;
}
.part3{
    background-color: white;
    padding: 10px 0;
}
.part3>h1{
    font-size: 18px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.contain>div{
    
    position: relative;

}
.contain>div>h1{
    margin: 10px 0;
}
.contain>div>div::after{
    content: "";
    position: absolute;
   top: 0;
   bottom: 60px;
   right: 0;
   left: 0;
   background-color: rgba(0,0,0,.04);
   border-radius: 5px;
}
.contain>div>p{
    background-color:#f44120;
    display: inline-block;
    padding: 3px;
    border-radius: 5px;
    color: white;
}
.contain1{
    display: grid;
    /* width: 100%; */
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: auto;
    gap:20px;
    margin-left: 20px;
    margin-right: 20px;
}
.part4{
    background-color: white;
    margin: 20px 0;    padding: 10px 0;
}
.part4>h1{
    font-size: 18px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.contain1>div{
    
    position: relative;

}
.contain1>div>h1{
    margin: 10px 0;
}
.contain1>div>div::after{
    content: "";
    position: absolute;
   top: 0;
   bottom: 50px;
   right: 0;
   left: 0;
   background-color: rgba(0,0,0,.04);
   border-radius: 5px;
}
.contain1>div>p{
    
    color: #bdc0c4;
}
.contain1>div>div>img{
    display: block;
    margin: auto;
    /* height:200px; */
}
.contain>div>div>img{
    display: block;
    margin: auto;
}
.contain2{
    display: grid;
    /* width: 100%; */
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: auto;
    gap:20px;
    margin-left: 10px;
    /* margin-right: 20px; */
}
.part5{
    /* background-color: white; */
    margin: 20px 0;    padding: 10px 0;
}
.part5>h1{
    font-size: 18px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.contain2>div{
    background-color: white;
    position: relative;
    padding: 10px;
    height: 200px;
    width: 150px;
    border-radius: 5px;
}
.contain2>div>h1{
    margin: 10px 0 5px 0;
}
.contain2>div>div::after{
    content: "";
    position: absolute;
   top: 10px;
   bottom: 50px;
   right: 10px;
   left: 10px;
   background-color: rgba(0,0,0,.04);
   border-radius: 5px;
}
.contain2>div>p{
   
    font-size: 13px;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
}
.contain2>div>p:hover{
    color: #ff6e26;
    text-decoration: underline;
    cursor: pointer;
    
}
.contain2>div>div>img{
    height: 150px;
}
.contain2>div>div>img{
    display: block;
    margin: auto;
}
.atBottomLine{
    margin:40px 0;
    border-top: 1px solid #d0d3d7;
}
.show{
    padding: 10px 20px;
    background-color: #ff6e26;
    display: flex;
    justify-content: center;
    width: 120px;
    margin: auto;
    border-radius: 20px;
    cursor: pointer;
}
.show>button{
    font-weight: 700;
    border: none;
    background:none;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
}
.show>button+img{
    cursor: pointer;
}
.bottomPart1{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: auto;
    margin: 0 20px;
    padding-bottom: 20px;
}
.bottomPart1>div>img{
    height: 50px;
    display: block;
    margin: auto;
}
.bottomPart1>div>h1{
    font-size: 14px;
    text-align: center;
    color: #333333;
    margin: 10px 0 5px 0;
}
.bottomPart1>div>p{
    text-align: center;
    font-size: 14px;
    color: #999999;
}
.white{
    height: 20px;
    width: 100%;
    background-color: #f1f5f9;
}
.bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 20px;

}
.know>h1, .payment>h1, .download>h1{
    font-size: 14px;
    color: #333333;
}
.know>p, .payment>p{
    margin: 10px 0;
    color: #666666;
}
.download>.app>div{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    border: 2px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
}
.download>.app>div>img{
    height: 20px;
}
.download>.app{
    display: flex;
    margin-top: 20px;
}
.download>.app>div:nth-child(2){
    margin-left: 20px;
}
.download>.app+h1{
    margin-top: 40px;
}
.download>.social>div>img{
    height: 15px;
    
}
.download>.social{
    display: flex;
    margin-top: 20px;
}
.download>.social>div{
    height: 25px;
    width: 25px;
    border-radius: 100%;
    border: 2px solid #333;
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.subscribe{
    margin-bottom: 40px;

}
.subscribe>p>a{
    color:#666666 ;
    text-decoration: underline;
}
.subscribe>p{
    color: #666666;
    text-align: center;
}
.subscribe>h1{
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}
.subscribe>div>input{
    border: none;
    background:none;
    border-bottom: 2px solid #333;
    outline: none;
    width: 240px;
    font-size: 14px;
    padding: 10px 0;
    display: block;
    margin: auto;
}

.subscribe>div:hover input{
    border-bottom: 2px solid #ff6e26;
    
}
.subscribe>div{
    display: flex;
    width: 30%;
    margin: auto;
}
.subscribe>div>div{
    height: 30px;
    width: 33px;
    cursor: pointer;
   
}
.subscribe>div:hover div{
    background-image: url("Images Index/bottom-orag-right-arrow.png");
    object-fit: cover;
}
.footer>p{
    text-align: center;
    color: #666666;
    margin-bottom: 10px;
}
